@import "./themes"; 
@import "./dude "; 

html,body {
  background-color: #0a0000;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif !important;
}

/* cor de texto fofa rosa vermleho #d63384; */

.text-pinkish {
  color: #d63384;
}

body {
  margin: 0;
    
  background-color: inherit;

  color: white;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader-cont {
  margin-left: 50px;
}

.loader {
  border: 16px solid rgb(56, 4, 4); /* Light grey */
  border-top-color: rgb(151, 5, 5);
  border-bottom-color: rgb(151, 5, 5);
  border-radius: 50%;
  
  width: 120px;
  height: 120px;
}

.loader-cwise {
  animation: spin-left 2s linear infinite;
  
}

.loader-acwise {
  animation: spin-right 2s linear infinite;  
}

@keyframes spin-left {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@keyframes spin-right {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}